DATABASE_URL=jdbc:postgresql://postgres:5432/lunarstorage
DATABASE_USERNAME=lunarstorage
DATABASE_PASSWORD=secure-database-password
DATABASE_NAME=lunarstorage
# Available types: postgresql, mysql
DATABASE_TYPE=postgresql

# Secret used for creating JWT tokens. Make sure it's long and random!
TOKENS_SECRET=random-generated-string