<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>LunarStorage</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://unpkg.com/lucide@1.18.0/dist/umd/lucide.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', () => {
            lucide.createIcons()

            const weekValues = /*[[${requestsLastWeek}]]*/ [];
            const dayValues = /*[[${requestsLastDay}]]*/ [];
            const hourValues = /*[[${requestsLastHour}]]*/ [];

            const weekLabels = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
            const dayLabels = Array.from({ length: 24 }, (_, i) => `${i}:00`);
            const hourLabels = Array.from({ length: 60 }, (_, i) => `:${String(i).padStart(2, '0')}`);

            renderLineChart('requests_last_week', weekLabels, weekValues);
            renderLineChart('requests_last_day', dayLabels, dayValues);
            renderLineChart('requests_last_hour', hourLabels, hourValues);
        });
    </script>
</head>
<body class="min-h-screen min-w-screen bg-zinc-900 text-gray-200 flex flex-col">
<header class="w-full grid grid-cols-3 items-center px-4 py-2">
    <p class="font-bold">Dashboard</p>
    <h1 class="text-2xl text-center">
        <span class="text-shimmer">Lunar</span><span>Storage</span>
    </h1>
    <a class="text-right" th:href="@{/storage}" th:text="${user.discordUsername}"></a>
</header>

<div class="flex-1 flex flex-col sm:flex-row w-full sm:h-[90%] h-full my-2">
    <nav class="w-full sm:w-[20%] flex flex-col justify-center bg-[#242429] p-2 sm:rounded-r-2xl">
        <ul>
            <li class="font-bold flex flex-row w-full items-center gap-2"><i data-lucide="house"></i> Home</li>
            <li class="flex flex-row w-full"><a th:href="@{/dashboard/users}" class="flex flex-row items-center gap-2 w-full"><i data-lucide="user-round-pen"></i>Users</a></li>
            <li class="flex flex-row w-full"><a th:href="@{/dashboard/files}" class="flex flex-row items-center gap-2 w-full"><i data-lucide="file-pen"></i>Files</a></li>
            <li class="flex flex-row w-full"><a th:href="@{/dashboard/folders}" class="flex flex-row items-center gap-2 w-full"><i data-lucide="folder-pen"></i>Folders</a></li>
            <li class="flex flex-row w-full"><a th:href="@{/dashboard/blacklist}" class="flex flex-row items-center gap-2 w-full"><i data-lucide="scroll-text"></i>Blacklist</a></li>
            <li class="flex flex-row w-full"><a th:href="@{/dashboard/announcements}" class="flex flex-row items-center gap-2 w-full"><i data-lucide="megaphone"></i>Announcements</a></li>
            <li class="flex flex-row w-full"><a th:href="@{/dashboard/config}" class="flex flex-row items-center gap-2 w-full"><i data-lucide="settings"></i>Config</a></li>
        </ul>
    </nav>

    <main class="w-full sm:w-[80%] mt-10">
        <div class="w-auto sm:ml-5 bg-[#242429] p-2 sm:rounded-l-2xl">
            <h1 class="font-bold text-xl sm:text-left text-center">Welcome, <span th:text="${user.discordUsername}">user</span>!</h1>
            <div class="sm:w-[20%] w-[80%] bg-purple-500 h-1 rounded-4xl my-2 mx-auto sm:mx-0"></div>

            <p class="text-gray-400 sm:text-xs mb-2">Last updated: <span th:text="${lastUpdated}">never</span></p>
            <div class="flex w-full sm:flex-row flex-col gap-8">
                <div class="sm:w-[30%] w-[90%] text-center">
                    <h2>Requests last week</h2>
                    <canvas id="requests_last_week"></canvas>
                </div>
                <div class="sm:w-[30%] w-[90%] text-center">
                    <h2>Requests last day</h2>
                    <canvas id="requests_last_day"></canvas>
                </div>
                <div class="sm:w-[30%] w-[90%] text-center">
                    <h2>Requests last hour</h2>
                    <canvas id="requests_last_hour"></canvas>
                </div>
            </div>
        </div>
    </main>
</div>

<footer class="w-full p-4 text-center text-gray-500 text-sm ">
    <p>&copy; <span th:text="${year}"></span> LunarStorage</p>
</footer>
</body>
</html>